<%- include('../partials/header'); %>

<link rel="stylesheet" href="/css/movies/index.css">

    <section class="principal">

      <article class="" id="peliculas">

        <div class="titulos">
          <h2>Listado de Peliculas</h2>
          <div>
            <a href="/movies/new">Nueva</a>
          </div>
        </div>
        
        <div class="peliculas">

          <% for(peli of listado) { %>

            <div class="pelicula">
              <a href="/movies/detail/<%= peli.id %>">
                <img src="<%= peli.poster %>" alt="" class="peli-img">
              </a>
              <img src="/img/premiere.png" alt="" class="banderin">
              <h3 class="peli-titulo"><%= peli.title %></h3>
              <a href="/movies/edit/<%= peli.id %>">Editar  </a>
            </div>
          
          <% } %>

        </div>

      </article>

  </div>


<%- include('../partials/footer'); %>