<div class="pelicula">
  <div class="cont-imgs">
    <a href="/movies/<%= movie.id %>">
      <img src="<%= movie.poster ? '/img/movies/' + movie.poster : '/img/logo1.jpg' %>" alt="" class="peli-img">
    </a>
    <img src="/img/premiere.png" alt="" class="banderin">
  </div>
  <div class="rating">
    <i class="fas fa-star star-rating"></i>
    <span class="text-rating"><%= movie.rating %></span>
  </div>
  <h3 class="peli-titulo"><%= movie.title %></h3>
  <h5 class="peli-titulo"><%= movie.genre ? movie.genre.name : 'Sin genero' %></h4>
  <div>
    <a href="/movies/<%= movie.id %>/edit" class="btn btn-secondary"><i class="fas fa-edit"></i></a>

    <a href="/movies/<%= movie.id %>/" class="btn btn-success"><i class="far fa-heart"></i></a>
    
    <a href="/movies/<%= movie.id %>" class="btn btn-danger"><i class="fas fa-trash"></i></a>
  </div>
</div>